@import './app.css';
@import './custom.css';

:root {
  --primary-color: #f9fafb;
  --dark-primary-color: #2980b9;
  /* --secondary-color: #2ecc71; */
  /* --dark-theme-secondary-color: #2980b9; */
  /* --accent-color: #2980b9;
  --dark-theme-accent-color: #2980b9; */
  --font-family: 'Arial, sans-serif';
  --font-size: 16px;
  --background-color: #f5f5f5;
  --dark-theme-background-color: #1e1e1e;
  --text-color: #333333;
  --dark-theme-text-color: #ffb6c1;
}
